#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;

}
#Btncontainer{
    text-align: center;
}
.Buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(215, 45%, 60%);
    border-radius: 5px;
    cursor: pointer;
   transition: background-color 0.25s;
}
.Buttons:hover{
    background-color:hsl(215, 32%, 44%) ;
}
