#box1{
    width:200px;
   height:200px;
   background-color: rgb(10, 10, 111);
   position:relative;
   top:0px;
   
  
}
#box2{
   width:100px;
   height:100px;
   background-color: rgb(203, 12, 12);
   position:absolute;
   top:50px;
   left:50px;
}