body{
    margin:0;
}
.box{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    transform: translateX(100px) rotateZ(45deg) scale(0.5);
}
#box1{
    background-color: rgb(159, 219, 159);
}
#box2{
    background-color: rgb(28, 152, 138);
}
#box3{
    background-color: rgb(159, 219, 159);
}
img{
    transform: translateX(100%) rotateZ(180deg) scaleX(0.3);
}
