body{
    font-family: 'Times New Roman', Times, serif;
    background-color:bisque;

}
hi{
    color:antiquewhite;
}
form{
    background-color: aliceblue
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 15px;
}
#TextBox{
    width: 50%;
    text-align: center;
    font-size:
}