body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
background-attachment: fixed;
}

#container{
    border:2px solid black;

}
#container ~ p{
    background-color:yellow
}