div{
    background-color: red;
    width:100px;
    height:100px;
    display:inline-block;
    visibility: hidden;

}
span{
    background-color: aqua;
    height:100px;
    width:100px;
    display:inline-block;
}